* {
    padding: 10px 18px;
    color: #000000;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    }
    
    
    .blog-content button:hover {
    background: #4338ca;
    }
    
    
    /* Footer */
    footer {
    background: #111827;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    }
    
    
    footer span {
    color: #6366f1;
    }
    
    
    /* Responsive */
    @media (max-width: 768px) {
    header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    }
    
    
    .hero h2 {
    font-size: 28px;
    }
    }